<div class="card">
  <h2>Utilisateurs</h2>
  <table style="width:100%; border-collapse: collapse;">
    <thead>
      <tr><th style="text-align:left">Username</th><th>Email</th><th>Rôle</th><th></th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users()" style="border-top:1px solid #222c40;">
        <td>{{u.username}}</td>
        <td>{{u['email']}}</td>
        <td>
          <select [(ngModel)]="rolesMap[u['_id']]" (change)="change(u)">
            <option *ngFor="let r of roles" [value]="r">{{r}}</option>
          </select>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
